<h1>Details of the <%= @flat.name %></h1>

<p>
    <strong>Name:</strong>
    <%= @flat.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @flat.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @flat.description%>
  </p>

  <p>
    <strong>number of guests:</strong>
    <%= @flat.number_of_guests%>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= @flat.price_per_night%>
  </p>

<img src="https://source.unsplash.com/1600x900/?flat" class="object-cover-fit w-50 h-50 justify-content-center" alt="">

<%= link_to 'Edit this new flat', edit_flat_path %>
